Django>=4.2
psycopg2-binary>=2.9
coverage>=7.0
pytest>=7.4
pytest-django>=4.5
pytest-cov>=4.1
python-decouple==3.8
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
Pillow==10.4.0
decouple==3.8
